.service-container {
  display: flex;
  justify-content: center;
  width: 1080px;
  gap: 2rem;
}

.service-content {
  flex: 1;
}

.service-card {
  margin-block-start: 3rem;
  padding-block-start: 2rem;
  padding-block-end: 6rem;
  padding-inline: 2.1rem;
  border-radius: 24px;
  background: rgba(0, 0, 0, 0.28);
  backdrop-filter: blur(10px);
}

.service-card2 {
  padding-block-start: 2rem;
  padding-block-end: 6rem;
  padding-inline: 2.1rem;
  border-radius: 24px;
  background: rgba(0, 0, 0, 0.28);
  backdrop-filter: blur(10px);
}

.service-title {
  border-inline-start: 2px solid #1fcff1;
  padding-inline-start: 1rem;
}

.service-title2 {
  border-inline-start: 2px solid #9945ff;
}

.service-title3 {
  border-inline-start: 2px solid #ffd512;
}

.service-title4 {
  border-inline-start: 2px solid #19fb9b;
}

.title-container {
  width: 350px;
}

.content-title {
  width: 80%;
}
