.btn-conect-wallet{
    border-radius: 24.642px;
    border: 0.685px solid #000;
    background:  linear-gradient(99deg, #8C01FA -2.99%, #000 102.28%);
}

.background-contain{
    background-image: url(/images/background.jpeg), url(/images/background.jpeg);
    background-repeat: no-repeat, no-repeat;
    background-position: -200px -50px, 167% 0px;
    background-size: 50%, 65%;
    max-width: 1920px;
    width: 100%;
    padding-top: 100px;
}

.spacing-title {
    line-height: 124.8px;
}

.container-games{
    background-image: url(/images/backgroundGames.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    max-width: 1920px;
    height: 950px;
    width: 100%;
}
.nav-position{
    position: absolute;
    width: 100%;
    top: 77px;
    z-index: -1;
}
