.vscode/**
node_modules
local-devnet
package-lock.json
.idea
snfoundry_trace
coverage

# yarn / eslint
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.eslintcache
.DS_Store
.vercel
