/* landing page */
.swiper-wrapper {
  align-items: center;
  overflow: visible;
}

.swiper {
  width: 100%;
  padding-top: 150px;
  padding-bottom: 150px;
  overflow: hidden;
}
.mySwiper .swiper-slide {
  transition:
    transform 0.5s ease,
    margin 0.5s ease;
  transform: scale(1);
  margin: 0 !important;
}
.swiper-slide-active .slide-deco-bg {
  display: none;
  width: 100%;
}

.mySwiper .swiper-slide .slide-content {
  opacity: 0.5;
}

.mySwiper .swiper-slide-prev {
  transform: translateX(-21%);
}

.mySwiper .swiper-slide-next {
  transform: translateX(21%);
}

.mySwiper .swiper-slide-active .slide-content {
  opacity: 1;
  transform: scaleX(1.7) scaleY(1.8);
  padding: 0px 35px;
  transition: transform 0.5s ease-in-out;
  z-index: 1;
  transform-origin: center center;
}

.mySwiper .swiper-slide-prev ~ .swiper-slide:not(.swiper-slide-active):not(.swiper-slide-next):not(.swiper-slide-prev) {
  transform: translateX(21%);
}

.mySwiper .swiper-slide:not(.swiper-slide-active):not(.swiper-slide-next):not(.swiper-slide-prev) {
  transform: translateX(-21%);
}

.mySwiper .swiper-slide-active ~ .swiper-slide:not(.swiper-slide-next):not(.swiper-slide-prev) {
  transform: translateX(21%);
}

.slide-content {
  width: 95%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiperSignup {
  position: relative;
}

.custom-swiper-pagination {
  justify-content: flex-start;
}

.swiperSignup {
  height: 100%;
}

.swiper-pagination-bullet {
  width: 15px !important;
  height: 15px !important;
  background-color: #878787 !important;
  border-radius: 0 !important;
  transform: rotate(45deg) !important;
  opacity: 1 !important;
  margin-right: 20px !important;
}

.swiper-pagination-bullet-active {
  background-color: #3adbff !important;
  outline: 1px solid #3adbff !important;
  outline-offset: 5px;
}

p {
  margin: 0;
}

.marquis-wallet-pc {
  display: block;
}
.marquis-wallet-mobile {
  display: none;
}

.mobile-text {
  background: linear-gradient(to right, #00ecff 80%, #ffeb81);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 116.6%;
  letter-spacing: -0.24px;
  text-transform: capitalize;
}

.color-title {
  background: linear-gradient(180deg, #fff 17.86%, rgba(255, 255, 255, 0) 116.07%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.landing-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 82.25px;
  letter-spacing: -2%;
  background: linear-gradient(180deg, #fff 17.86%, rgba(255, 255, 255, 0) 116.07%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.landing-title-nonecolor {
  font-weight: 700;
  font-size: 64px;
  line-height: 74.62px;
  letter-spacing: -0.5%;
  text-transform: capitalize;
}
.decore-btn-signup-1 {
  filter: blur(10.31px);
}

.decore-btn-signup-2 {
  filter: blur(30.92px);
}

.decore-btn-signup-3 {
  filter: blur(82.44px);
}

.gradient-signup-btn-top {
  border: 1px transparent;
  border-radius: 23px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 236, 255, 0.8)) border-box;
  padding: 2px 1.5px 0px 0px;
  color: #000;
  background-clip: padding-box, border-box;
}

.gradient-signup-btn-bottom {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1.5px;
  width: 100%;
  height: 100%;
  border-radius: 23px;

  background: linear-gradient(to right, rgba(0, 0, 0, 0) 60%, rgba(0, 236, 255, 0.8));
}

.signup-btn {
  border-radius: 20px;
  border: 2.576px solid rgba(255, 255, 255, 0.12);
  background: #01111f;
  text-align: center;
  font-size: 24px;
  width: 288px !important;
}

.button-style {
  cursor: pointer;
  fill: #272727;
  stroke-width: 1px;
  stroke: #fff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  color: #fff;
  text-align: center;
  font-size: 24px;
  border: 1px solid white;
  border-radius: 16px;
}

.normal-button {
  font-weight: 500;
  line-height: 31px;
  letter-spacing: -0.48px;
  text-transform: capitalize;
  max-width: 433px;
  width: 100%;
  height: 75px;
}

.normal-button-think {
  font-weight: 400;
  line-height: 185.1%;
  letter-spacing: 0.96px;
  text-transform: uppercase;
  max-width: 304px;
  width: 100%;
  height: 73px;
}

.landing-desc {
  font-size: 24px;
  font-weight: 500;
  text-transform: capitalize;
  max-width: 72 0px;

  line-height: 31px;
}

.landing-desc-normal {
  font-size: 24px;
  font-weight: 500;
  text-transform: none;
  max-width: 665px;
  line-height: 40px;
}

.detect-bg-circle {
  background: radial-gradient(
    41.47% 41.47% at 50% 50%,
    #ffffff 0%,
    rgba(184, 184, 184, 0.33) 50.5%,
    rgba(115, 115, 115, 0) 100%
  );
}

.detect-bg {
  border-top: 1px solid #6e6e6e;
  border-bottom: 1px solid #6e6e6e;
  background: linear-gradient(96deg, #090c0f -17.15%, #242b33 72.44%, #090c0f 111.75%);
}

.tech-btn {
  width: 280px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  border-radius: 17px;
  border: 1px solid #727272;
  background: linear-gradient(96deg, #090c0f -17.15%, #1a1f25 72.44%, #090c0f 111.75%);
}

.starknet-text {
  background: linear-gradient(to right, #00ecff 30%, #ffeb81);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Larsseit;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: -0.48px;
  text-transform: capitalize;
}

.signup-ludo-border {
  padding: 1px;
  background: linear-gradient(94.72deg, #6e6e6e 0.99%, #121212 59.45%, #4c4c4c 96.83%);
  border-radius: 20px;
}

.signup-ludo {
  border-radius: 20px;
  background: linear-gradient(96deg, #000 19.74%, #0f151a 43.31%, #0e1318 83.3%, #040507 111.75%);
}

.content-fit-center {
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 32px;
}

.leader-board-bg {
  background: linear-gradient(96deg, #0f151a -17.15%, #181e24 72.44%, #090c0f 111.75%);
}

.leader-board-bg-header {
  border-radius: 8px;
  background: linear-gradient(90deg, #31353b 0%, #161a20 46.66%, #171d24 108.77%);
  height: 90px;
}

.swiper-slide-active .slide-content img.gradient-border {
  padding: 0.4px;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    336deg,
    rgba(255, 255, 255, 0.23012955182072825) 8%,
    rgba(193, 193, 193, 0) 13%,
    rgba(0, 0, 0, 0) 50%,
    rgba(240, 240, 240, 0) 80%,
    rgba(255, 255, 255, 0.5914740896358543) 85%
  );
}

.leader-board-rank1 {
  border-radius: 8px;
  background: linear-gradient(90deg, #003b40 0%, #0d2a30 46.66%, #171d24 108.77%);
  height: 90px;
}
.leader-board-item {
  border-radius: 8px;
  background: linear-gradient(90deg, #282b30 0%, #12161b 46.66%, #171d24 108.77%);
  height: 90px;
}

.swiper-slide-active .slide-content {
  opacity: 1;
}

@media (min-width: 2195px) {
  .slide-deco-bg {
    width: 96%;
    left: 2%;
  }
}
@media (min-width: 1440px) {
  .swiper {
    padding-top: 200px;
    padding-bottom: 200px;
  }
  .mySwiper .swiper-slide-active .slide-content {
    transform: scaleX(1.7) scaleY(1.7);
  }
}

@media (max-width: 1024px) {
  .leader-board-bg {
    background: none;
    padding: 20px 0;
  }
  .leader-board-bg-header,
  .leader-board-rank1,
  .leader-board-item {
    height: 50px;
  }
  .swiper {
    padding: 0 !important;
  }

  .slide-deco-bg {
    width: 90%;
  }
  .mySwiper .swiper-slide-prev .slide-deco-bg {
    left: 10%;
  }
  .mySwiper {
    display: flex;
    padding: 150px 0 !important;
    align-items: center;
  }
  .landing-title-nonecolor {
    font-size: 56px;
    line-height: normal;
  }
}

@media (max-width: 912px) {
  .custom-swiper-pagination {
    top: -10px !important;
    display: flex;
    justify-content: center;
  }
  .swiper-pagination-bullet {
    width: 12px !important;
    height: 12px !important;
    margin-right: 14px !important;
  }
  .swiper-pagination-bullet-active {
    outline-offset: 4px;
  }
  .landing-title-nonecolor,
  .mobile-text {
    font-size: 48px;
  }
}

@media (max-width: 768px) {
  .detect-bg-circle img {
    width: 100%;
  }

  .content-fit-center {
    padding: 0 20px;
  }

  .login-bg {
    background-image: url(/landingpage/login.png);
  }

  .detect-bg {
    border: none !important;
  }
  .btn-download-mobile {
    max-width: 280px;
    max-height: 60px;
    border-radius: 11px;
    margin: 0px auto 0 auto !important;
  }
}

@media (max-width: 640px) {
  .decore-btn-signup-1 {
    filter: blur(5.03px);
  }

  .decore-btn-signup-2 {
    filter: blur(15.1px);
  }

  .decore-btn-signup-3 {
    filter: blur(40.27px);
  }

  .signup-ludo-border {
    padding: 0.36px;
    border-radius: 8px;
  }
  .signup-ludo {
    border-radius: 8px;
  }
  .mySwiper {
    padding: 150px 0 !important;
  }
  .mySwiper .swiper-slide-prev {
    transform: translateX(-30%);
  }

  .mySwiper .swiper-slide-next {
    transform: translateX(30%);
  }

  .mySwiper .swiper-slide-active .slide-content {
    transform: scaleX(2) scaleY(2);
  }
  .marquis-wallet-pc {
    display: none;
  }
  .marquis-wallet-mobile {
    display: block;
  }
  .detect-bg-circle img {
    width: 100% !important;
    max-width: 180px;
  }
  .landing-desc,
  .starknet-text {
    font-size: 12px;
    line-height: 18px;
  }

  .landing-title {
    font-size: 24px;
    line-height: normal;
  }
  .landing-title-nonecolor,
  .mobile-text {
    font-size: 20px;
    line-height: normal;
  }
  .signup-btn {
    font-size: 14px;
    font-weight: 400;
    width: 140px !important;
    height: 36px;
    border-radius: 10px;
  }
  .gradient-signup-btn-top {
    border: 0.5px transparent;
    border-radius: 10px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 236, 255, 0.8)) border-box;
    padding: 1.2px 1.2px 0px 0px;
    color: #000;
    background-clip: padding-box, border-box;
  }
  .gradient-signup-btn-bottom {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 100%;
    border-radius: 10px;

    background: linear-gradient(to right, rgba(0, 0, 0, 0) 60%, rgba(0, 236, 255, 0.8));
  }

  .custom-swiper-pagination {
    top: -25px !important;
    display: flex;
    justify-content: center;
  }
  .swiper-pagination-bullet {
    width: 6px !important;
    height: 6px !important;
    margin-right: 7px !important;
  }
  .swiper-pagination-bullet-active {
    outline-offset: 2px;
  }
}

@media screen and (max-width: 480px) {
  .mySwiper {
    padding: 100px 0 !important;
  }
  .mySwiper .swiper-slide-active .slide-content {
    transform: scaleX(2.25) scaleY(2.25);
  }
}

@media screen and (max-width: 420px) {
  .mySwiper {
    padding: 100px 0 !important;
  }
  .mySwiper .swiper-slide-active .slide-content {
    transform: scaleX(2.4) scaleY(2.4);
  }
}
@keyframes menu-mobile {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-menu-mobile {
  animation: menu-mobile 0.5s ease-out forwards;
}
