/* landing page */
.swiper-wrapper {
  align-items: center;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}
.mySwiper .swiper-slide {
  transition:
    transform 0.5s ease,
    margin 0.5s ease;
  transform: scale(0.9);
}

.mySwiper .swiper-slide-active .slide-content {
  transform: scale(1.2);
  transition: transform 0.5s ease-in-out;
  z-index: 1;
  padding: 0 10px;
}

.swiperSignup {
  position: relative;
}

.custom-swiper-pagination {
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  justify-content: flex-start;
}

.swiperSignup {
  height: 100%;
}

.swiper-pagination-bullet {
  width: 20px !important;
  height: 20px !important;
  background-color: #878787 !important;
  border-radius: 0 !important;
  transform: rotate(45deg) !important;
  opacity: 1 !important;
  margin: 10px !important;
}

.swiper-pagination-bullet-active {
  background-color: #3adbff !important;
  outline: 1px solid #3adbff !important;
  outline-offset: 5px;
}

.slide-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease-in-out;
}

p {
  margin: 0;
}

.mobile-text {
  background: linear-gradient(90deg, #00ecff 49.93%, #ffeb81 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 116.6%;
  letter-spacing: -0.24px;
  text-transform: capitalize;
}

.landing-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: -2%;
  background: linear-gradient(
    180deg,
    #fff 17.86%,
    rgba(255, 255, 255, 0) 116.07%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.landing-title-nonecolor {
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: -2%;
  text-transform: capitalize;
}

.signup-btn {
  border-radius: 20px;
  border: 2.576px solid rgba(255, 255, 255, 0.12);
  background: #01111f;
  text-align: center;
  font-size: 24px;
}

.button-style {
  cursor: pointer;
  fill: #272727;
  stroke-width: 1px;
  stroke: #fff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  color: #fff;
  text-align: center;
  font-size: 24px;
  border: 1px solid white;
  border-radius: 16px;
}

.normal-button {
  font-weight: 500;
  line-height: 31px;
  letter-spacing: -0.48px;
  text-transform: capitalize;
  max-width: 433px;
  width: 100%;
  height: 75px;
}

.normal-button-think {
  font-weight: 400;
  line-height: 185.1%;
  letter-spacing: 0.96px;
  text-transform: uppercase;
  max-width: 304px;
  width: 100%;
  height: 75px;
}

.landing-desc {
  font-size: 24px;
  font-weight: 500;
  text-transform: capitalize;
  max-width: 700px;
  line-height: 40px;
}

.landing-desc-normal {
  font-size: 24px;
  font-weight: 500;
  text-transform: none;
  max-width: 665px;
  line-height: 40px;
}

.detect-bg-circle {
  background: radial-gradient(
    41.47% 41.47% at 50% 50%,
    #ffffff 0%,
    rgba(184, 184, 184, 0.33) 50.5%,
    rgba(115, 115, 115, 0) 100%
  );
}

.detect-bg {
  border-top: 1px solid #6e6e6e;
  border-bottom: 1px solid #6e6e6e;
  background: linear-gradient(
    96deg,
    #090c0f -17.15%,
    #242b33 72.44%,
    #090c0f 111.75%
  );
}

.tech-btn {
  width: 280px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-transform: capitalize;
  border-radius: 17px;
  border: 1px solid #727272;
  background: linear-gradient(
    96deg,
    #090c0f -17.15%,
    #1a1f25 72.44%,
    #090c0f 111.75%
  );
}

.starknet-text {
  background: linear-gradient(90deg, #00ecff 28.8%, #ffeb81 42.56%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Larsseit;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: -0.48px;
  text-transform: capitalize;
}

.signup-ludo {
  border-radius: 20px;
  border: 1px solid #6e6e6e;
  background: linear-gradient(
    96deg,
    #000 19.74%,
    #0f151a 43.31%,
    #0e1318 83.3%,
    #040507 111.75%
  );
}

.content-fit-center {
  max-width: 1700px;
  margin: 0 auto;
  padding: 0 32px;
}

.leader-board-header {
  color: #8d8d8d;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 31px;
  letter-spacing: -0.48px;
  text-transform: capitalize;
  text-align: center;
}

.leader-board-bg {
  background: linear-gradient(
    96deg,
    #0f151a -17.15%,
    #181e24 72.44%,
    #090c0f 111.75%
  );
}
