/* landing page */
.swiper-wrapper {
  align-items: center;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}
.mySwiper .swiper-slide {
  transition: transform 0.5s ease, margin 0.5s ease;
}

.mySwiper .swiper-slide-active .slide-content{
  transform: scale(1.2); 
  transition: transform 0.5s ease-in-out;
  z-index: 1;  
}
.slide-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease-in-out;
}


p {
  margin: 0;
}

.mobile-text {
  background: linear-gradient(90deg, #00ECFF 49.93%, #FFEB81 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 116.6%;
  letter-spacing: -0.24px;
  text-transform: capitalize;
}

.landing-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: -2%;
  background: linear-gradient(180deg, #FFF 17.86%, rgba(255, 255, 255, 0.00) 116.07%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.landing-title-nonecolor {
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: -2%;
  text-transform: capitalize;
}

.button-style {
  cursor: pointer;
  fill: #272727;
  stroke-width: 1px;
  stroke: #FFF;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  color: #FFF;
  text-align: center;
  font-size: 24px;
  border: 1px solid white;
  border-radius: 16px;
}

.normal-button {
  font-weight: 500;
  line-height: 31px;
  letter-spacing: -0.48px;
  text-transform: capitalize;
  max-width: 433px;
  width: 100%;
  height: 75px;
}

.normal-button-think {
  font-weight: 400;
  line-height: 185.1%;
  letter-spacing: 0.96px;
  text-transform: uppercase;
  max-width: 304px;
  width: 100%;
  height: 75px;
}

.landing-desc {
  font-size: 24px;
  font-weight: 500;
  text-transform: capitalize;
  max-width: 665px;
  line-height: 40px;
}

.landing-desc-normal {
  font-size: 24px;
  font-weight: 500;
  text-transform: none;
  max-width: 665px;
  line-height: 40px;
}

.detect-bg-circle {
  background: radial-gradient(41.47% 41.47% at 50% 50%, #FFFFFF 0%, rgba(184, 184, 184, 0.33) 50.5%, rgba(115, 115, 115, 0) 100%);
}

.detect-bg {
  border-top: 1px solid #6E6E6E;
  border-bottom: 1px solid #6E6E6E;
  background: linear-gradient(96deg, #090C0F -17.15%, #242B33 72.44%, #090C0F 111.75%);
}

.tech-btn {
  width: 280px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-transform: capitalize;
  border-radius: 17px;
  border: 1px solid #727272;
  background: linear-gradient(96deg, #090C0F -17.15%, #1A1F25 72.44%, #090C0F 111.75%);
}

.starknet-text {
  background: linear-gradient(90deg, #00ECFF 28.8%, #FFEB81 42.56%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Larsseit;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: -0.48px;
  text-transform: capitalize;
}

.signup-ludo {
  border-radius: 18px;
  border: 1px solid #6E6E6E;
  background: linear-gradient(96deg, #090C0F -17.15%, #242B33 72.44%, #090C0F 111.75%);
}

.content-fit-center {
  max-width: 1700px;
  margin: 0 auto;
  padding: 0 20px;
}

.leader-board-header {
  color: #8D8D8D;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 31px;
  letter-spacing: -0.48px;
  text-transform: capitalize;
  text-align: center;
}

.leader-board-bg {
  background: linear-gradient(96deg, #0F151A -17.15%, #181E24 72.44%, #090C0F 111.75%);
}