/* landing page */
.swiper-wrapper {
  align-items: center;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}
.mySwiper .swiper-slide {
  transition:
    transform 0.5s ease,
    margin 0.5s ease;
  transform: scale(1);
  margin: 0 !important;
}
.swiper-slide-active .slide-deco-bg {
  display: none;
  width: 100%;
}

.mySwiper .swiper-slide .slide-content {
  opacity: 0.5;
}

.mySwiper .swiper-slide-active .slide-content {
  opacity: 1;
  transform: scaleX(1.2) scaleY(1.3);
  padding: 0px 35px;
  transition: transform 0.5s ease-in-out;
  z-index: 1;
  /* width: 100%; */
}

.slide-content {
  width: 95%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease-in-out;
}

.swiperSignup {
  position: relative;
}

.custom-swiper-pagination {
  position: absolute;
  left: 0;
  right: 0;
  justify-content: flex-start;
}

.swiperSignup {
  height: 100%;
}

.swiper-pagination-bullet {
  width: 15px !important;
  height: 15px !important;
  background-color: #878787 !important;
  border-radius: 0 !important;
  transform: rotate(45deg) !important;
  opacity: 1 !important;
  margin-right: 20px !important;
}

.swiper-pagination-bullet-active {
  background-color: #3adbff !important;
  outline: 1px solid #3adbff !important;
  outline-offset: 5px;
}

p {
  margin: 0;
}

.marquis-wallet-pc {
  display: block;
}
.marquis-wallet-mobile {
  display: none;
}

.mobile-text {
  background: linear-gradient(90deg, #00ecff 49.93%, #ffeb81 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 116.6%;
  letter-spacing: -0.24px;
  text-transform: capitalize;
}

.color-title {
  background: linear-gradient(
    180deg,
    #fff 17.86%,
    rgba(255, 255, 255, 0) 116.07%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.landing-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: -2%;
  background: linear-gradient(
    180deg,
    #fff 17.86%,
    rgba(255, 255, 255, 0) 116.07%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.landing-title-nonecolor {
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: -2%;
  text-transform: capitalize;
}
.decore-btn-signup {
  background: linear-gradient(
    296deg,
    #00ecff 8.44%,
    rgba(0, 0, 0, 0.969) 112.84%
  );
  filter: blur(15.152543px);
}
.signup-btn {
  border-radius: 20px;
  border: 2.576px solid rgba(255, 255, 255, 0.12);
  background: #01111f;
  text-align: center;
  font-size: 24px;
  width: 288px !important;
}

.button-style {
  cursor: pointer;
  fill: #272727;
  stroke-width: 1px;
  stroke: #fff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  color: #fff;
  text-align: center;
  font-size: 24px;
  border: 1px solid white;
  border-radius: 16px;
}

.normal-button {
  font-weight: 500;
  line-height: 31px;
  letter-spacing: -0.48px;
  text-transform: capitalize;
  max-width: 433px;
  width: 100%;
  height: 75px;
}

.normal-button-think {
  font-weight: 400;
  line-height: 185.1%;
  letter-spacing: 0.96px;
  text-transform: uppercase;
  max-width: 304px;
  width: 100%;
  height: 73px;
}

.landing-desc {
  font-size: 24px;
  font-weight: 500;
  text-transform: capitalize;
  max-width: 72 0px;
  line-height: 40px;
}

.landing-desc-normal {
  font-size: 24px;
  font-weight: 500;
  text-transform: none;
  max-width: 665px;
  line-height: 40px;
}

.detect-bg-circle {
  background: radial-gradient(
    41.47% 41.47% at 50% 50%,
    #ffffff 0%,
    rgba(184, 184, 184, 0.33) 50.5%,
    rgba(115, 115, 115, 0) 100%
  );
}

.detect-bg {
  border-top: 1px solid #6e6e6e;
  border-bottom: 1px solid #6e6e6e;
  background: linear-gradient(
    96deg,
    #090c0f -17.15%,
    #242b33 72.44%,
    #090c0f 111.75%
  );
}

.tech-btn {
  width: 280px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  border-radius: 17px;
  border: 1px solid #727272;
  background: linear-gradient(
    96deg,
    #090c0f -17.15%,
    #1a1f25 72.44%,
    #090c0f 111.75%
  );
}

.starknet-text {
  background: linear-gradient(90deg, #00ecff 28.8%, #ffeb81 42.56%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Larsseit;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: -0.48px;
  text-transform: capitalize;
}

.signup-ludo {
  border-radius: 20px;
  border: 1px solid #6e6e6e;
  background: linear-gradient(
    96deg,
    #000 19.74%,
    #0f151a 43.31%,
    #0e1318 83.3%,
    #040507 111.75%
  );
}

.content-fit-center {
  max-width: 1700px;
  margin: 0 auto;
  padding: 0 32px;
}

.leader-board-bg {
  background: linear-gradient(
    96deg,
    #0f151a -17.15%,
    #181e24 72.44%,
    #090c0f 111.75%
  );
}

.leader-board-bg-header {
  border-radius: 8px;
  background: linear-gradient(
    90deg,
    #31353b 0%,
    #161a20 46.66%,
    #171d24 108.77%
  );
  height: 90px;
}

.leader-board-rank1 {
  border-radius: 8px;
  background: linear-gradient(
    90deg,
    #003b40 0%,
    #0d2a30 46.66%,
    #171d24 108.77%
  );
  height: 90px;
}
.leader-board-item {
  border-radius: 8px;
  background: linear-gradient(
    90deg,
    #282b30 0%,
    #12161b 46.66%,
    #171d24 108.77%
  );
  height: 90px;
}

@media (min-width: 2195px) {
  .slide-deco-bg {
    width: 96%;
    left: 2%;
  }
}

@media (max-width: 1024px) {
  .leader-board-bg {
    background: none;
    padding: 20px 0;
  }
  .leader-board-bg-header,
  .leader-board-rank1,
  .leader-board-item {
    height: 50px;
  }
  .swiper {
    padding: 0 !important;
  }
  .slide-deco-bg {
    width: 90%;
  }
  .mySwiper .swiper-slide-prev .slide-deco-bg {
    left: 10%;
  }

  .custom-swiper-pagination {
    top: -25px !important;
    display: flex;
    justify-content: center;
  }
  .swiper-pagination-bullet {
    width: 7px !important;
    height: 7px !important;
    margin-right: 12px !important;
  }
  .swiper-pagination-bullet-active {
    outline-offset: 2px;
  }
  .mySwiper {
    display: flex;
    padding: 60px 0 !important;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .mySwiper .swiper-slide-active .slide-content {
    transform: scaleX(1.2) scaleY(1.3);
    padding: 0px 25px;
  }
  .detect-bg-circle img {
    width: 60%;
  }

  .content-fit-center {
    padding: 0 20px;
  }
  .landing-title {
    font-size: 24px;
    line-height: normal;
  }
  .landing-title-nonecolor,
  .mobile-text {
    font-size: 20px;
    line-height: normal;
  }
  .landing-desc,
  .starknet-text {
    font-size: 12px;
    line-height: 18px;
  }
  .signup-btn {
    font-size: 14px;
    font-weight: 400;
    width: 140px !important;
    height: 36px;
    border-radius: 10px;
  }
  .detect-bg {
    border: none !important;
  }
  .btn-download-mobile {
    max-width: 260px;
    max-height: 45px;
    border-radius: 11px;
    margin: 0px auto 0 auto !important;
  }
}

@media (max-width: 640px) {
  .marquis-wallet-pc {
    display: none;
  }
  .marquis-wallet-mobile {
    display: block;
  }
  .mySwiper .swiper-slide-active .slide-content {
    padding: 0;
    transform: scaleX(1.3) scaleY(1.4);
  }
  .mySwiper .swiper-slide-active .slide-content img {
    width: 100% !important;
  }
  .detect-bg-circle img {
    width: 100% !important;
  }
  /* .mySwiper .swiper-slide-active .slide-content {
    transform: scaleX(1.5) scaleY(1.5);
    padding: 0px 5px;
    transition: transform 0.5s ease-in-out;
    z-index: 1;
  } */
  .mySwiper .swiper-slide-next {
    right: -45px;
  }
  .mySwiper .swiper-slide-prev {
    left: -45px;
  }
  .mySwiper .slide-content img,
  .swiper .slide-content img {
    height: 90% !important;
    width: 90% !important;
  }

  .mySwiper {
    min-height: fit-content;
    padding: 60px 0 !important;
    /* margin-top: -80px; */
  }
}

@keyframes menu-mobile {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-menu-mobile {
  animation: menu-mobile 0.5s ease-out forwards;
}
