.background-contain{
    background-image: url(/images/background.jpeg), url(/images/background.jpeg);
    background-repeat: no-repeat, no-repeat;
    background-position: -200px -50px, 167% 0px;
    background-size: 50%, 65%;
    height: 600px;
    max-width: 1920px;
    width: 100%;
    padding-top: 100px;
}

.spacing-title {
    line-height: 124.8px;
}