.containerTable{
    position: relative;
 }

.container-chips{
    position: absolute;
    margin: 0;
}

.container-chips:hover .coin{
   opacity: 0.4;
}

.coin{
    position: absolute;
    pointer-events: none;
 }