.border-carousel {
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.4);
}

.box-image {
  width: 50%;
}

.box-content {
  width: 50%;
}

.box-image img {
  width: 520px;
  height: 395px;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  object-fit: cover;
}

.slick-list {
  width: 1110px;
  position: relative;
  display: block;
  overflow: hidden;
  margin: auto;
  padding: 0;
}

.slick-slider {
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-arrow {
  cursor: pointer;
}
