@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  background-color: #0F151A}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


@font-face {
  font-family: agency-fb;
  src: url(/fonts/agency-fb.ttf);
}

@font-face {
  font-family: valorant;
  src: url(/fonts/valorant.ttf);
}
@font-face {
  font-family: monserrat;
  src: url(/fonts/monserrat.ttf);
}

.bg-header{
  background-image: url("/bg-header-marquis.png");
  background-size: cover;
}
.btn-download{
  border: 3px solid;
  transform: skewX(-15deg)
}
.bg-video{
  background-image: url("/video-highlights.png");
  background-size: contain;

}
.bg-card{
  background-image: url("/bg-card-main.png");
  background-size: cover;
}

.game-image {
  transition: transform 0.5s ease-in-out;
}

.game-image:hover {
  transform: rotateY(180deg);
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: black; }
}

.typing-text {
  display: inline-block;
  overflow: hidden;
  white-space: normal;
  animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
}
.bg-degrad{
  background: radial-gradient(circle, rgba(0,172,246,0.21054359243697474) 0%, rgba(15,21,27,0.8015800070028012) 52%);
}
