.border-carousel{
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.40);
}

.box-image{
  width: 50%;
}

.box-content{
    width: 50%;
}

.box-image img{
    width: 520px;
    height: 395px;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    object-fit: cover;
}