.row_max {
  max-width: 1920px;
  margin: auto;
}
@media (max-width: 530px) {
  .row_max {
    max-width: 390px;
    margin: auto;
  }
}
@media (min-width: 1024px) and (max-width: 1279px) {
  .row_max {
    max-width: 1024px;
    margin: auto;
  }
}

@media (min-width: 1366px) and (max-width: 1440px) {
  .row_max {
    max-width: 1440px;
    margin: auto;
  }
}
