.number{
    width: 50px;
    height: 70px;
    background-color: #2B2A2A;
    border: 1px solid white;
}

.table{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid red;
    width: 750px;
    height: 300px;
}

.coloredNumber{
    width: 50px;
    height: 70px;
    background-color: #561589;
    border: 1px solid white;
}