.slot {
  display: flex;
  justify-content: center;
  align-items: center;
}

.coins-container {
  display: flex;
}

.slot-coins-container {
  position: absolute;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  height: 40px;
  pointer-events: none;
  opacity: 1;
}

.slot:hover .slot-coins-container {
  opacity: 0.4;
}

.slot-coins-container > * {
  position: relative;
  z-index: 1;
  margin-top: -23px;
}

.first-slot {
  background: transparent;
  width: 100px;
  height: 210px;
}

.erase-mode {
  cursor: url("/images/eraser.png"), auto;
}
