.slot{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.coins-container {
  display: flex;
}

.slot-coins-container {
  position: absolute;
  display: flex;
  flex-direction: column-reverse; 
  align-items: center;

}

.first-slot{
  background: transparent;
  width: 100px;
  height: 210px;
}