.chip-duplicate{
    order: 10;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chip{
    background-position: center;
}

