.chip-duplicate{
    
    order: 10;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-chip{
    font-size: 7px; 
}
