.option{
    display: flex;
    justify-content: center;
    align-items: center;
}

.slot-options {
    position: absolute;
    display: flex;
    height: 20px;
    pointer-events: none;
}

.slot-options>* {
    position: relative;
    z-index: 1;
    margin-right: -18px;
}