[package]
name = "contracts"
version = "0.1.0"
edition = "2023_11"

# See more keys and their definitions at https://docs.swmansion.com/scarb/docs/reference/manifest.html

[dependencies]
starknet = "2.9.2"
# Change to just "openzeppelin" to use full features
openzeppelin_access = "0.20.0"
openzeppelin_token = "0.20.0"
openzeppelin_upgrades = "0.20.0"

[dev-dependencies]
openzeppelin_utils = "0.20.0"
snforge_std = "0.35.1"
assert_macros = "2.9.2"

[[target.starknet-contract]]
casm = true # Note: change this to false to fast test execution

[tool.fmt]
sort-module-level-items = true

[scripts]
test = "snforge test"

[[tool.snforge.fork]]
name = "SEPOLIA_LATEST"
url = "https://starknet-sepolia.public.blastapi.io/rpc/v0_7"
block_id.tag = "latest"
