@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.cdnfonts.com/css/larsseit-font-family");

:root {
  --foreground-rgb: 0, 0, 0;
  background-color: #0f151a;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

html {
  scroll-behavior: smooth;
}

.lasserit-font p,
.lasserit-font span,
.lasserit-font a {
  font-family: "Larsseit", sans-serif;
}

@font-face {
  font-family: agency-fb;
  src: url(/fonts/agency-fb.ttf);
}

@font-face {
  font-family: valorant;
  src: url(/fonts/valorant.ttf);
}

@font-face {
  font-family: monserrat;
  src: url(/fonts/montserrat.ttf);
}

@font-face {
  font-family: arcade;
  src: url(/fonts/arcade.TTF);
}

@font-face {
  font-family: orbitron;
  src: url(/fonts/orbitron.ttf);
}

.font-arial {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  min-height: 100vh;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0.5rem;
  line-height: 1;
}

/* p {
  margin: 0.5rem 0;
} */

p {
  margin: 0;
}

.box-verifi {
  height: 84px;
  width: 84px;
}

.h-screen-minus-80 {
  position: relative;
  z-index: 30;
}

@media (max-width: 800px) {
  .box-verifi {
    width: 68px;
    height: 68px;
  }
}

@media (max-width: 1200px) {
  .h-screen-minus-80 {
    height: calc(100vh - 100px) !important;
  }
}

@media (max-width: 800px) {
  .h-screen-minus-80 {
    height: calc(100vh - 120px) !important;
  }
}

.btn {
  @apply shadow-md;
}

.btn.btn-ghost {
  @apply shadow-none;
}

.bg-header {
  background: rgb(255 255 255 / 1%);
}

.circle-gradient {
  border-radius: 630px;
  background: #bd93f1;
  filter: blur(229px);
  position: absolute;
  top: 0;
}

.button-flow-login {
  text-align: left;
}

.circle-icon {
  border: 1px solid white;
  border-radius: 50%;
}

.text-footer {
  text-align: left;
}

.button-action {
  max-width: 245px;
  width: 100%;
}

.text-footer p {
  margin: 0;
}

.title-text-footer {
  margin-bottom: 15px !important;
  font-size: 16px;
  font-weight: 700;
  color: #939393;
}

.sub-title-text p {
  font-size: 14px;
  margin-bottom: 5px !important;
  font-weight: 500;
}

.verify-failure {
  box-shadow: 0px 0px 6.5px 1px rgba(0, 240, 255, 1);
  background: linear-gradient(90deg, #16828a 0%, #176369 100%);
}

.circle-gradient-blue {
  border-radius: 630px;
  background: #a6e8fe;
  filter: blur(250px);
  position: absolute;
  top: 0;
  right: 0;
}

.border-gradient {
  border: 1px solid #5c4fe5;
}

.bg-modal {
  backdrop-filter: blur(7.449999809265137px);
}

.custom::after {
  position: absolute !important;
  display: block !important;
  height: 0.5rem !important;
  width: 0.5rem !important;
  top: 1rem !important;
  right: 1.4rem !important;
  transform: translateY(-100%) rotate(45deg) !important;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1) !important;
  content: "" !important;
  box-shadow: 2px 2px !important;
  pointer-events: none !important;
}

@layer utilities {
  .clip-corner {
    clip-path: polygon(0 0, calc(100% - 1rem) 0, 100% 1rem, 100% 100%, 0 100%);
  }

  .clip-corner::before {
    content: "";
    position: absolute;
    top: -1px;
    right: -1px;
    width: 1rem;
    height: 1rem;
    background: inherit;
    border-top: 1px solid #8a45fc;
    border-right: 1px solid #8a45fc;
    clip-path: polygon(100% 0, 0 0, 100% 100%);
    z-index: 10;
  }
}

.circle-gradient-dark {
  position: absolute;
  top: 0;
  left: 60px;
  border-radius: 630px;
  background: #7353d2;
  filter: blur(229px);
}

.circle-gradient-blue-dark {
  border-radius: 630px;
  background: #0ea9ff;
  filter: blur(250px);
  position: absolute;
  top: 0;
  right: 0;
}

@layer utilities {
  .trapeze {
    width: 84px;
    height: 6px;
    clip-path: polygon(10% 100%, 90% 100%, 100% 0, 0 0);
    position: relative;
    background-color: #5c4fe5;
    position: absolute;
    top: -1px;
  }

  .trapeze::before {
    content: "";
    position: absolute;
    top: -1px;
    right: -1px;
    width: 84px;
    height: 6px;
    background: inherit;
    clip-path: polygon(100% 100%, 100% 0, 90% 100%);
  }
}

.bg-image {
  background-image: url(/bg-main.svg);
  background-size: cover;
  filter: blur();
  background-repeat: no-repeat;
  background-position: center;
}

.bg-games {
  background-image: url(/Frame.svg);
  background-size: cover;
}

.bg-container-card {
  background: linear-gradient(
    180deg,
    rgba(0, 236, 255, 0.29) 0%,
    rgba(0, 236, 255, 0) 100%
  );
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  backdrop-filter: blur(14.800000190734863px);
}

/* migration from master branch */
.bg-header {
  background-image: url("/bg-header-marquis.png");
  background-size: cover;
}

.btn-download {
  border: 3px solid;
  transform: skewX(-15deg);
}

.bg-video {
  background-image: url("/video-highlights.png");
  background-size: contain;
}

.bg-card {
  background-image: url("/bg-card-main.png");
  background-size: cover;
}

.game-image:hover {
  transform: rotateY(180deg);
  transition: transform 0.5s;
}

.bg-degrad {
  background: radial-gradient(
    circle,
    rgba(0, 172, 246, 0.21054359243697474) 0%,
    rgba(15, 21, 27, 0.8015800070028012) 52%
  );
}

.shadow-button {
  border-radius: 33px;
  border: 1px solid #00ecff;
  box-shadow: 0px 0px 6.5px 1px #00f0ff;
}

.text-gradient {
  background: var(
    --Gradient-2,
    linear-gradient(90deg, #00ecff 6.39%, #24eced 42.35%, #ffeb81 99.06%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}

.bg-transparent-black {
  background: rgba(11, 16, 20, 0.84);
}

.bg-modal-black {
  background: rgba(0, 0, 0, 0.52);
  backdrop-filter: blur(2px);
}

.bg-alert {
  background: rgba(255, 14, 14, 0.08);
}

.position-header {
  position: absolute;
  left: 34%;
  top: -40px;
}

.btn-login-flow-unactive {
  background: #32363a;
  width: 245px;
  height: 57px;
  text-align: center;
  border-radius: 33px;
  font-size: 24px;
}

.btn-login-flow-active {
  width: 245px;
  height: 57px;
  text-align: center;
  border-radius: 33px;
  font-size: 24px;
  background: #17686e;
  box-shadow: 0px 0px 6.5px 1px #00f0ff;
}

.btn-resend-unactive {
  border-radius: 44px;
  background: #32363a;
  width: 161px;
  height: 42px;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 20px;
  cursor: not-allowed;
}

.btn-resend-active {
  border-radius: 44px;
  border: 1px solid #00ecff;
  background: linear-gradient(
    90deg,
    rgba(22, 130, 138, 0.41) 0%,
    rgba(23, 99, 105, 0.41) 53.5%
  );
  width: 123px;
  height: 42px;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 20px;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .lg\:block {
    display: none;
  }

  .game-image {
    cursor: pointer;
  }

  .game-image:hover {
    opacity: 1;
  }

  .center-mobile {
    justify-content: center;
  }
}

@media (max-width: 950px) {
  .hidden-container {
    display: none;
  }

  .h-container {
    height: 100vh;
  }

  .modal-container {
    width: 360px;
    border-radius: 18px;
    height: 600px;
  }

  .text-small {
    font-size: 12px;
  }
}

@media (max-width: 650px) {
  .text-gray {
    color: #cacaca;
  }

  .button-flow-login {
    text-align: center;
  }

  .title-screen {
    font-size: 16px;
  }

  .input-container {
    width: 300px;
  }

  .text-responsive {
    font-size: 30px;
  }

  .width-container {
    width: 200px;
    justify-content: center;
    align-items: center;
    padding-block: 17px;
  }

  .width-content {
    width: 350px;
  }

  .text-mobile {
    font-size: 16px;
  }

  .m-mobile {
    margin-top: 20px;
  }

  .img-mobile {
    width: 350px;
  }

  .m-inline {
    margin-inline: 0px;
  }

  .column-flex {
    flex-direction: column;
  }

  .absolute-container {
    left: 150px;
  }
  .login-text {
    font-size: 14px !important;
  }
  .title-text-footer {
    margin-bottom: 12px !important;
    font-size: 14px;
  }
}

.bg-modal-wallet {
  background: rgba(0, 236, 255, 0.14);
  backdrop-filter: blur(8.399999618530273px);
}

.hex-button {
  clip-path: polygon(27% 0, 75% 0%, 94% 52%, 75% 100%, 27% 99%, 7% 49%);
}

.text-shadow {
  text-shadow:
    -5px 0px 1px #00b7ff,
    4px 0px 1px #ce44ff;
}

.text-shadow-deposit {
  text-shadow:
    -1px 0px 1px #0587ba,
    1px 0px 1px #e37daf;
}

@layer utilities {
  .custom-drop-shadow {
    @apply filter;
    filter: drop-shadow(0px 0px 13.3px #00ecff);
  }
}

.pen-container {
  clip-path: polygon(0 0, 51% 8%, 100% 1%, 100% 100%, 0 100%);
}

@media (min-width: 1500px) {
  .position-screen {
    position: absolute;
    top: -40px;
    left: 38%;
  }
}

@media (min-width: 1550px) {
  .center-screen {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding-left: 6rem;
  }

  .justify-screen {
    display: flex;
    justify-content: center;
    gap: 12rem;
  }

  .input-screen {
    width: 700px;
    height: 200px;
    padding: 2rem;
  }

  .title-screen {
    font-size: 40px;
  }
}

@media (min-width: 1700px) {
  .position-screen {
    left: 40%;
  }
}

@media (min-width: 2230px) {
  .position-screen {
    position: absolute;
    top: -40px;
    left: 45%;
  }
}

/* notification custom */
.noti-success {
  border-radius: 8px;
  border: 1px solid #40474d;
  background: linear-gradient(
    90deg,
    rgba(132, 235, 178, 0.3) 0%,
    rgba(67, 112, 90, 0.69) 20.22%,
    rgba(15, 14, 19, 0) 100%
  );
  box-shadow: 0px 16px 24px 0px rgba(0, 0, 0, 0.25);
}

.noti-error {
  border-radius: 8px;
  border: 1px solid #40474d;
  background: linear-gradient(
    90deg,
    rgba(217, 89, 114, 0.3) 0%,
    rgba(217, 89, 114, 0.6) 20.22%,
    rgba(15, 14, 19, 0) 100%
  );
  box-shadow: 0px 16px 24px 0px rgba(0, 0, 0, 0.25);
}

.noti-warning {
  border-radius: 8px;
  border: 1px solid #40474d;
  background: linear-gradient(
    90deg,
    rgba(238, 190, 90, 0.3) 0%,
    rgba(238, 190, 90, 0.6) 20.22%,
    rgba(15, 14, 19, 0) 100%
  );
  box-shadow: 0px 16px 24px 0px rgba(0, 0, 0, 0.25);
}

.dropdown .dropdown-content {
  z-index: 100 !important;
}

.connect-btn {
  border-radius: 14px;
  border: 1px solid #666;
  background: linear-gradient(92deg, #000 -9.3%, #313131 67.93%, #000 102.42%);
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  justify-content: center;
  padding: 0 30px;
  cursor: pointer;
}

.login-text {
  background: var(
    --Gradient-2,
    linear-gradient(90deg, #00ecff 6.39%, #24eced 42.35%, #ffeb81 99.06%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 20px;
  font-weight: 500;
  text-transform: capitalize;
}

.header-btn {
  border-radius: 14px;
  border: 1px solid #666;
  background: linear-gradient(91deg, #000 0.78%, #313131 51.02%, #000 113.67%);
  align-items: center;
  cursor: pointer;
  width: 247px;
  height: 52px;
  font-size: 20px;
  font-weight: 700;
  justify-content: center;
}

.disconnect-wallet-btn {
  background: linear-gradient(92deg, #000 -9.3%, #543f2b 67.93%, #000 102.42%);
  font-size: 20px;
  font-weight: 700;
  color: white;
}

.wrong-network-btn {
  border-radius: 14px;
  border: 1px solid #666;
  background: linear-gradient(92deg, #000 -9.3%, #542b36 67.93%, #000 102.42%);
  font-size: 20px;
  font-weight: 700;
  color: white;
}

.wrong-network-btn:hover {
  border: 1px solid #666 !important;
}

.hover-hidden {
  @apply flex transition-opacity duration-1000 ease-in-out opacity-100;
}

.hover-visible {
  @apply opacity-0 transition-opacity duration-1000 ease-in-out absolute top-0 left-0 w-full h-full flex items-center justify-center;
}

.network-wallet:hover .hover-hidden {
  @apply opacity-0;
}

.network-wallet:hover .hover-visible {
  @apply opacity-100;
}
