@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  background-color: #0F151A;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */


@font-face {
  font-family: agency-fb;
  src: url(/fonts/agency-fb.ttf);
}

@font-face {
  font-family: valorant;
  src: url(/fonts/valorant.ttf);
}
@font-face {
  font-family: monserrat;
  src: url(/fonts/montserrat.ttf);
}

body {
  min-height: 100vh;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0.5rem;
  line-height: 1;
}

p {
  margin: 1rem 0;
}

.btn {
  @apply shadow-md;
}

.btn.btn-ghost {
  @apply shadow-none;
}

.circle-gradient {
  border-radius: 630px;
  background: #bd93f1;
  filter: blur(229px);
  position: absolute;
  top: 0;
}

.circle-gradient-blue {
  border-radius: 630px;
  background: #a6e8fe;
  filter: blur(250px);
  position: absolute;
  top: 0;
  right: 0;
}

.border-gradient {
  border: 1px solid #5c4fe5;
}

.bg-modal {
  backdrop-filter: blur(7.449999809265137px);
}

.custom::after {
  position: absolute !important;
  display: block !important;
  height: 0.5rem !important;
  width: 0.5rem !important;
  top: 1rem !important;
  right: 1.4rem !important;
  transform: translateY(-100%) rotate(45deg) !important;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1) !important;
  content: "" !important;
  box-shadow: 2px 2px !important;
  pointer-events: none !important;
}

@layer utilities {
  .clip-corner {
    clip-path: polygon(0 0, calc(100% - 1rem) 0, 100% 1rem, 100% 100%, 0 100%);
  }

  .clip-corner::before {
    content: "";
    position: absolute;
    top: -1px;
    right: -1px;
    width: 1rem;
    height: 1rem;
    background: inherit;
    border-top: 1px solid #8a45fc;
    border-right: 1px solid #8a45fc;
    clip-path: polygon(100% 0, 0 0, 100% 100%);
    z-index: 10;
  }
}

.circle-gradient-dark {
  position: absolute;
  top: 0;
  left: 60px;
  border-radius: 630px;
  background: #7353d2;
  filter: blur(229px);
}

.circle-gradient-blue-dark {
  border-radius: 630px;
  background: #0ea9ff;
  filter: blur(250px);
  position: absolute;
  top: 0;
  right: 0;
}

@layer utilities {
  .trapeze {
    width: 84px;
    height: 6px;
    clip-path: polygon(10% 100%, 90% 100%, 100% 0, 0 0);
    position: relative;
    background-color: #5c4fe5;
    position: absolute;
    top: -1px;
  }
  .trapeze::before {
    content: "";
    position: absolute;
    top: -1px;
    right: -1px;
    width: 84px;
    height: 6px;
    background: inherit;
    clip-path: polygon(100% 100%, 100% 0, 90% 100%);
  }
}

.bg-image{
  background-image: url(/bg-main.svg);
  background-size: cover;
  filter: blur();
  background-repeat: no-repeat;
  background-position: center;
}

.bg-games{
  background-image: url(/Frame.svg);
  background-size: cover;
}

.bg-container-card{
  background: linear-gradient(180deg, rgba(0, 236, 255, 0.29) 0%, rgba(0, 236, 255, 0.00) 100%);
  border: 1px solid #00ECFF;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  backdrop-filter: blur(14.800000190734863px);

}

/* migration from master branch */
.bg-header{
  background-image: url("/bg-header-marquis.png");
  background-size: cover;
}

.btn-download {
  border: 3px solid;
  transform: skewX(-15deg)
}

.bg-video {
  background-image: url("/video-highlights.png");
  background-size: contain;

}

.bg-card{
  background-image: url("/bg-card-main.png");
  background-size: cover;
}

.game-image:hover {
  transform: rotateY(180deg);
  transition: transform 0.5s;
}

.bg-degrad {
  background: radial-gradient(circle, rgba(0,172,246,0.21054359243697474) 0%, rgba(15,21,27,0.8015800070028012) 52%);
}

.shadow-button{
border-radius: 33px;
border: 1px solid #00ECFF;
box-shadow: 0px 0px 6.5px 1px #00F0FF;
}