.degrade_button__small {
  padding: 11px 23px;
  box-shadow: 4px 2px 24px 4px rgba(187, 175, 175, 0.25);
  border: none;
}

.degrade_button__large {
  padding: 16px 33px;
  box-shadow: 4px 2px 24px 4px rgba(187, 175, 175, 0.25);
  border: none;
}
