.hexagono {
    background-image: url('/images/mama.jpg');
    background-size: cover;
    width: 180px;
    height: 220px;
    background-color: #3498db;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.hexagon::before {
    content: "";
    display: block;
    padding-top: 86.602540378443864%; /* Calculado para mantener la proporción */
}

.container-profile{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url('/images/background3.jpeg');
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.results-container{
    border-radius: 12px;
    background: #1A1A1A;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    color: #fff;
}

