.container-game{
   display: flex;
   gap: 6rem;
   justify-content: center;
   height: 100%;
   margin-block: 3rem;
}
.container-board{
   height: 60%;
}

.container-boardgame{
   display: flex;
   flex-direction: column;
   gap: 2rem;
   height: fit-content;
}

